
@{
    ViewData["Title"] = "LastAdminError";
}

<h1>Error: Cannot deactivate only system admin</h1>
<p>This is the only administrator.  You must assign a new administrator 
    before deactivating, deleting, or changing the role of the current administrator.</p>

<div>
    <a asp-action="Index" class="m-5">Back to List</a>
</div>

